*{
   margin: 0; 
   padding: 0;
   box-sizing: border-box;
}
.header{
    background-color: hsl(217, 28%, 15%) ;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
}
.navbar ul{
    list-style: none;
    display: flex;
    gap: 20px;
}
.navbar li{
    text-decoration: none;
    color: white;
    font-size: 16px;
    
}
